
<div class="container">
  <form action="">
    <div class="form-header">
      <h1 class="form-title">Cadastre-se</h1>
    </div>
    <div class="caixa">
      <label for="" class="label">Nome</label>
      <my-input></my-input>
    </div>

    <div class="caixa">
      <label for="" class="label">Sobrenome</label>
      <my-input></my-input>
    </div>

    <div class="caixa">
      <label for="" class="label">Email</label>
      <my-input></my-input>
    </div>

    <div class="caixa">
      <label for="" class="label">Cel</label>
      <my-input></my-input>
    </div>

    <div>
      <styled-button></styled-button>
    </div>
  </form>
</div>
